{% extends "base/base.html" %}
{% block content %}
  <h1>Session List</h1>
  <a href="{% url 'session_create' %}">Create New Session</a>
  <table  border="1" cellpadding="5" cellspacing="0">
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Time</th>
      <th>Duration</th>
      <th>Price</th>
      <th>Type</th>
      <th>Trainer</th>
      <th>Current Bookings </th>
     
      <th>Actions</th>
    </tr>
    {% for session in sessions %}
      <tr>
        <td>{{ session.title }}</td>
        <td>{{ session.date }}</td>
        <td>{{ session.time }}</td>
        <td>{{ session.duration }}</td>
        <td>{{ session.price }}</td>
        <td>{{ session.get_session_type_display }}</td>
        <td>{{ session.trainer.business_name }}</td>
        <td>{{ session.bookings.count}} / {{session.max_clients }}</td> 
        
        <td>
          {% if session.bookings.count < session.max_clients %}
            <form method="post" action="{% url 'client_book_session' session.id %}">
              {% csrf_token %}
              <button type="submit">Book</button>
            </form>
          {% else %}
            <span style="color: red;">Full</span>
           
          {% endif %}
          <a href="{% url 'session_detail' session.id %}">View</a>

        </td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="5">No sessions found.</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}