{% if request.user.is_authenticated %}
    <p>{{request.user}}</p>
    <form action="{% url 'logout' %}" method="post" style="display:inline;">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>
{% else %}
    <button><a href="{% url 'login'%}">Login</a></button>
    <p><a href="">Sign Up</a></p>
{% endif %}


<hr>


<a href="{% url 'clients' %}">Clients</a>   
<a href="{% url 'sessions' %}">Sessions</a>
<h1>My Invoices</h1>
<a href="{% url 'invoice-create' %}">Create New Invoice</a>
<table>
    <tr>
        <th>Invoice Number</th>
        <th>Date</th>
        <th>Amount</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    {% for invoice in invoices %}
    <tr>
        <td>{{ invoice.id }}</td>
        <td>{{ invoice.date }}</td>
        <td>{{ invoice.total_amount }}</td>
        <td>{{ invoice.status }}</td>
        <td>
           <a href="{% url 'invoice' invoice.id %}">View Details</a>
           <a href="{% url 'invoice-pdf' invoice.id %}">Save PDF</a>
        </td>
    </tr>
    {% empty %} 
    <tr>
        <td colspan="5">No invoices found.</td> 
    </tr>
    {% endfor %}
</table>