<h1>Sessions</h1>
<a href="{% url 'session-create' %}">Create New Session</a>

<table>
    <tr>
        <th>Session ID</th>
        <th>Client</th>
        <th>Date</th>
        <th>Description</th>
        <th>Location</th>
        <th>Session Length</th>
        <th>Rate</th>
        <th>Amount</th>
        <th>Status</th>
        <th>Actions</th>
        
    </tr>
    {% for session in sessions %}
    <tr>
        <td>{{ session.id }}</td>
        <td>{{ session.client.name }}</td>
        <td>{{ session.date }}</td>
        <td>{{ session.description }}</td>
        <td>{{ session.location }}</td>
        <td>{{ session.session_length }}</td>
        <td>{{ session.rate_per_session }}</td>
        <td>{{ session.amount }}</td>

        <td>{{ session.status }}</td>
        <td>
            <a href="{% url 'session' session.id %}">View Details</a>
            <a href="{% url 'session-update' session.id %}">Edit</a>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="10">No sessions found.</td>
    </tr>
    {% endfor %}
</table>
{% include "invoice/nav.html" %}
{% load static %}
<!--{% if sessions %}
    <h2>Total Amount: {{ total_amount }}</h2>
{% else %}
    <h2>No sessions available.</h2>
{% endif %}-->
